#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bgImg {
  position: absolute;
  z-index: -1;
  top: -1rem;
  right: 0;
  object-fit: cover;
  height: 85vh;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.introImage {
  /* height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: yellowgreen;
  font-weight: bold;
}

.introPara {
  font-size: small;
  font-weight: 200;
  letter-spacing: normal;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}

.btn:hover {
  background-color: yellowgreen;
  transition: 1s;
}

.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

@media screen and (max-width: 840px) {
  .bgImg {
    right: -10vw;
  }
  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 720px) {
  .bgImg {
    display: none;
  }
}

/* .introRight {
  float: right; /* Float the image to the right */
  /* margin: 10px; Add some margin to create space between the image and text */
  /* clear: right; Clear any previous floats (if needed) */
/* } */

/* .introLeft { */
  /* Style your text column here */
  /* You can set width, padding, and other styles as needed */
/* } */

/* .introPara { */
  /* Style your text content here */
  /* You can set margins, padding, etc. as needed */
/* } */

/* Clear the floats after the content */
/* .introContent::after {
  content: "";
  display: table;
  clear: both;
} */

